@font-face {
  font-family: "AGRevue";
  src: url("../fonts/AGRevueCyr-Roman-Medium.ttf");
}

body {
  background-color: rgb(255, 255, 255);
  display: inline-flex;
}

.body {
  background-color: rgb(255, 255, 255);
  height: 100%;
}

.horizontalSpace {
  width: 400px;
  height: 100%;
}

.menuTop {
  text-align: center;
  display: inline-flex;
  width: 1000px;
}

.title {
  margin-left: 20px;
  font-size: 30px;
  color: rgb(57, 75, 180);
  font-family: "AGRevue";
}

.loginBtn {
  margin: auto;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  border-style: solid;
  margin-left: 555px;
  width: 100px;
  color: rgb(57, 75, 180);
  border-color: rgb(57, 75, 180);
  height: 22px;
}

.signUpBtn {
  margin: auto;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  border-style: solid;
  margin-left: 3px;
  width: 100px;
  background-color: rgb(57, 75, 180);
  color: white;
  height: 26px;
}

.textBtn1 {
  margin-top: 2px;
}

.textBtn2 {
  margin-top: 4px;
}

.loginBtn:hover {
  background-color: rgba(52, 52, 223, 0.144)
}

.signUpBtn:hover {
  background-color: rgba(55, 55, 226, 0.719)
}

a {
  text-decoration: none;
}